/* CustomToast.css */
/* .custom-toast {
    background-color: rgb(45, 182, 102) !important;
   
    color: white;
   
    width: 240px;
    height: 105px;
    margin-left: 100px;
    
    
} */

/* .toast-button {
    background-color: transparent;
    border: none;
    color: transparent !important;
    margin-left: 30px;
    text-decoration: none;
} */

.t-wrapper {
    color: white;
    height: 100px;
    width: 230px;
    background-color: rgb(45, 182, 102);
    border: 0px; 
    border-radius: 8px;
}
.mod-wrapper {
    width: 220px;

    background-color: transparent;
    position:fixed;  
    bottom: 20px;     
    right: 1px;      
    padding: 10px;
}

.toast-message {
    flex: 1; /* Flex grow for message to take available space */
    margin: 10px; /* Reset margin */
    margin-left: 5px;
    font-size: 17px;

}


@media screen and (max-width:1000px) {

    /* CustomToast.css */
    /* .custom-toast {
        background-color: white !important;
        width: 100%;
        padding: 10px;
        margin-left: 0px;
        height: 90px;
        margin-right: 15px !important;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        border-radius: 10px !important;
    } */

    /* .toast-button {
        background-color: transparent;
        border: none;
        color: transparent !important;
        margin-left: 138px;
        margin-top: -50px !important;

    } */

    .toast-message {
        flex: 1; /* Flex grow for message to take available space */
        margin: 3px; /* Reset margin */
        margin-left: 0px;
    }

    .t-wrapper {
        color: white;
        background-color: rgb(45, 182, 102) !important;
        width:90%;
        border-radius: 8px !important;
        height: 50px;
        text-decoration: none !important;
        border: 0px;
        border-style: hidden;
        margin-top: 0px;
        margin-left: 9px;
        
    }

    .mod-wrapper {
        width: 100%;
        height: 70px;
        background-color: white !important;
        margin-bottom: -20px;
       
 
    }
} 
